@charset "utf-8";

.about{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    display: flex;
}

article{
    width: 70%;
    margin-right: 100px;
}

.text_box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.philosophy,.explain,.culling{
    margin-top: 50px;
}

.text_box h2{
    border-bottom: 3px solid #90ee90;
    padding-bottom: 7px;
    margin-bottom: 15px;
}

.text_box p{
    line-height: 1.7;
}

.sns_box{
    max-width: 1200px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}


aside{
    width: 30%;
}

.aside-title{
    margin-bottom: 10px;
    padding-bottom:  5px;
    border-bottom: #0bd solid 2px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}

.aside-menu {
    margin-bottom: 60px;
    list-style: none;
}
.aside-menu li {
    border-bottom: 1px #ddd solid;
}
.aside-menu a {
    color: #432;
    padding: 10px;
    display: block;
    text-decoration: none;
}
.aside-menu a:hover {
    color: #0bd;
}

