.grid{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.pet{
    background-color:#F4FBFE;
    padding: 20px;
}

.pet:hover{
    transform: scale(1.05);
    color: #000;
    transition-duration: 0.8s;
    transition-property: transform;
}

.pet img{
   display: block;
    width: 100%;
    height: 300px;
    background-size: cover;
    margin-bottom: 20px;
}


.pagination {
    text-align: center;
    margin-bottom: 30px;
}

.page-item.active{
    background-color:rgba(0, 31, 91, 0.8);
    color: white;
}

.pagination li{
    display: inline-block;
    padding:8px;
}

.pagination li:hover{
    background-color: #ddd;
    transition-property: background-color;
    transition-duration: 0.3s;
}



